// customized variables
@import 'variables';
// theme standard rulesets
@import '~nativescript-theme-core/scss/index';
// define our custom styles here...

.fa {
  font-family: 'FontAwesome', fontawesome-webfont;
  font-size: 25;
}

Page {
  background-color: $background;
}

ListView { 
  separator-color: transparent; 
}

.player-controls {
  padding:0 0 15 0;
  background-color:$slate;
}

.track-name-float {
  color: RGBA(136, 135, 3, .5);
}

.slider-area {
  .slider {
    background-color: yellow;
  }
}

.slider {
  &.fader {
    background-color: $black;
  }
}

.list-group {
  background-color: $black;

  .muted {
    opacity:.2;
  }
}