<!--<GridLayout rows="100" columns="75,*" row="1" col="0">
  <Button [text]="playStatus" (tap)="togglePlay()" row="0" col="0"></Button>
  <Slider minValue="0" [maxValue]="duration" [value]="currentTime" class="slider" row="0" col="1"></Slider>
</GridLayout>-->

<GridLayout rows="100" columns="100,*" row="1" col="0" class="p-x-10">
  <Button [text]="playStatus" (tap)="togglePlay()" row="0" col="0" class="btn btn-primary w-100"></Button>
  <Slider minValue="0" [maxValue]="duration" [value]="currentTime" row="0" col="1" class="slider"></Slider>
</GridLayout>